#navigation {
  width: 100%;
}

#logo img {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

#logo span {
  font-size: 30px;
}

li {
  font-size: 18px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
}

@media screen and (max-width: 414px) {
  #logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  #logo span {
    font-size: 20px;
  }
}
