#history {
  width: 100%;
  margin: auto;
  margin-top: 25vh;
}

#history h1 {
  text-align: center;
}
#history p {
  text-align: start;
}

.history-container {
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.history-pics img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
}

@media screen and (max-width: 414px) {
  #history {
    margin-top: 15vh;
  }
  .history-container {
    padding: 10px;
  }
}
